.tile {
  height: 60px;
  display: block;
}

.navbar {
  width: 100%;
  height:100px;
}

.loginbox {
  float:right;
}

.logo {
  float: left;
  height: 60px;
  padding: 10px;
}

.inputfield {
  padding-bottom: 5px;
  height: 20px;
  width: 200px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
