.tile {
  height: 60px;
  display: block;
}

.navbar {
  width: 100%;
  height:100px;
}

.loginbox {
  float:right;
}

.logo {
  float: left;
  height: 60px;
  padding: 10px;
}

.inputfield {
  padding-bottom: 5px;
  height: 20px;
  width: 200px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  width: 100%;
}

footer {
  width: 100%;
  text-align: center;
}

.news-topic-wrapper {
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid #dcdcdc;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1.4em;
  line-height: 2em;
  min-height: 2em;
  padding-top: 1em;
}

.news-topic {
  padding: 0em 1em;
  margin: 0.1em 0em;
  background-color: #443939;
  color: white;
  border-radius: 3px;
  display: inline-block;
}

.news-topic-btn:hover {
  cursor: pointer;
}

.news-topic-add {
  border-bottom: 1px solid #dbdbdb;
  width: 20%;
  display: inline-block;
}

.border {
  border: 1px solid #dcdcdc;
}

.news-wrapper-topic {
  background-color:#EA8644;
  display: block;
  line-height: 3em;
}

.news-wrapper-topic-title {
  margin-left: 1em;
  color: white;
  font-weight: 900;
}

.news-wrapper-topic-btn {
  position: relative;
  width: 2em;
  float:right;
  color: white;
}

.weather {
  clear: both;
  display: block;
  height: 200px;
}

.weather-icon {
  width: 30%;
  height: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  float: left;  
}

.main-weather-icon {
  width: 50%;
  height: auto;
}

.weather-description {
  width: 70%;
  height: 100%;
  float: right;
}

.weather-description-title {
/*  float: right;
*//*  width: 70%;
*/text-align: left;
  font-size: 1.4em;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  float: left;
  width: auto;
}

.weather-description-details {
  float: right;
}

.weather-description-location {
  float: right;
}

.weather-time-last-update {
  float: right;
}

.weather-description-icons {
  width: 100%;
  height: 100px;
  clear: both;
}

.weather-description-icons-wrapper {
  display: block;
  float: left;
  width: 20%;
}

.weather-description-icons-icon {
  display: block;
  height: 75px;
  width: 100%;
/*  background-image: url('/assets/images/sunny.png');
*/  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.weather-description-icons-text {
  width: 100%;
  text-align: center;
}

