.tile {
  height: 60px;
  display: block;
}

.navbar {
  width: 100%;
  height:100px;
}

.loginbox {
  float:right;
}

.logo {
  float: left;
  height: 60px;
  padding: 10px;
}

.inputfield {
  padding-bottom: 5px;
  height: 20px;
  width: 200px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  width: 100%;
/*  overflow: hidden; note: cannot set overflow to hidden, otherwise site won't scroll;
*/}
.news-topic {
  padding: 0 1em;
  margin: 0.1em 0;
  background-color: #443939;
  color: white;
  border-radius: 3px;
  display: inline-block;
}
.news-container {
  border: 1px solid #dcdcdc;
}
.news-header {
  background-color:#8A9AE2;
  display: block;
  line-height: 3em;
}
.news-title {
  margin-left: 1em;
  color: white;
  font-weight: 900;
}
.news-button {
  position: relative;
  width: 2em;
  float:right;
  color: white;
} 

.weather-topic {
  padding: 0 1em;
  margin: 0.1em 0;
  background-color: #443939;
  color: white;
  border-radius: 3px;
  display: inline-block;
}
.weather-container {
  border: 1px solid #dcdcdc;
}
.weather-header {
  background-color:#EA8644;
  display: block;
  line-height: 3em;
}
.weather-title {
  margin-left: 1em;
  color: white;
  font-weight: 900;
}
.weather-button {
  position: relative;
  width: 2em;
  float:right;
  color: white;
} 
