.tile {
  height: 60px;
  display: block;
}

.navbar {
  width: 100%;
  height:100px;
}

.loginbox {
  float:right;
}

.logo {
  float: left;
  height: 60px;
  padding: 10px;
}

.inputfield {
  padding-bottom: 5px;
  height: 20px;
  width: 200px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  width: 100%;
  overflow: hidden;
}
.news-topic {
  padding: 0 1em;
  margin: 0.1em 0;
  background-color: #443939;
  color: white;
  border-radius: 3px;
  display: inline-block;
}
